<div [formGroup]="form">
  <address-form
    legend="Address"
    formControlName="address"
    #address
  ></address-form>

  <mat-form-field>
    <input
      #title
      type="text"
      matInput
      placeholder="Course title"
      formControlName="title"
    />

    <mat-hint align="end">{{ title.value.length }} / 60</mat-hint>

    <mat-error *ngIf="courseTitle.errors?.titleExists"
      >Title is already beeing used</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="category">
      <mat-option
        *ngFor="let category of coursesCategories$ | async"
        [value]="category.code"
      >
        {{ category.description }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="releasedAt"
      type="text"
      matInput
      placeholder="Release date"
      [matDatepicker]="releaseDatePicker"
    />

    <mat-datepicker-toggle
      matSuffix
      [for]="releaseDatePicker"
    ></mat-datepicker-toggle>

    <mat-datepicker #releaseDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox color="primary" formControlName="downloadsAllowed">
    Downloads allowed?
  </mat-checkbox>

  <mat-form-field>
    <textarea
      formControlName="longDescription"
      matInput
      placeholder="description"
      appearance="outline"
    ></textarea>
  </mat-form-field>
</div>
