<h3>Add Course lessons</h3>
<div class="add-lessons-form" [formGroup]="form">
  <ng-container formArrayName="lessons">
    <ng-container *ngFor="let lesson of lessons.controls; let i = index">
      <div class="lesson-form-row" [formGroup]="lesson">
        <mat-form-field appereance="fill">
          <input
            type="text"
            matInput
            placeholder="lesson title"
            formControlName="title"
          />
        </mat-form-field>

        <mat-form-field appereance="fill">
          <mat-select placeholder="lesson level" formControlName="level">
            <mat-option value="beginner">beginner</mat-option>
            <mat-option value="intermediante">intermediante</mat-option>
            <mat-option value="advanced">advanced</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-icon (click)="removeLesson(i)" class="delete-btn"
          >delete_forever</mat-icon
        >
      </div>
    </ng-container>
  </ng-container>

  <button mat-mini-fab (click)="addLesson()">
    <mat-icon class="add-course-btn">add</mat-icon>
  </button>
</div>
