<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form
      class="login-form data-form"
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm, $event)"
    >
      <mat-form-field>
        <input
          ngModel
          #email="ngModel"
          matInput
          email
          required
          minlength="3"
          maxlength="20"
          type="email"
          name="email"
          placeholder="Email"
        />
        <mat-error *ngIf="email.errors?.required">
          The email is mandatory
        </mat-error>
        <mat-error *ngIf="email.errors?.email">
          This is not valid email
        </mat-error>
        <mat-error *ngIf="email.errors?.minlength as error">
          The min len is {{ error.requiredLength }} but it has
          {{ error.actualLength }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          ngModel
          matInput
          #password="ngModel"
          type="password"
          name="password"
          minlength="3"
          maxlength="20"
          required
          placeholder="Password"
        />
        <mat-error *ngIf="password.errors?.required">
          The password is mandatory
        </mat-error>
        <mat-error *ngIf="password.errors?.minlength as error">
          The min len is {{ error.requiredLength }} but it has
          {{ error.actualLength }}
        </mat-error>
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
